*{
    box-sizing: border-box;
}
.floor{
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
    background: url("floor.png");
  
}
canvas{
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
}
h1{
    color: cornsilk;
}
